.dc-page3 {
  min-height: 80%;
  .page3-text1 {
    width: to-rem(326);
  }

  button {
    @extend .rel;
    width: to-rem(105);
    &:after {
      position: absolute;
      content: '';
      display: block;
      top: -10px;
      right: -10px;
      bottom: -10px;
      left: -10px;
    }
    img {
      width: 100%;
    }
  }

}
