<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=9"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="format-detection" content="telephone=no"/>
    <meta name="format-detection" content="email=no"/>
    <meta name="format-detection" content="address=no"/>
    <meta name="format-detection" content="date=no"/>
    <title>龘藏·菩提箴言 第二部</title>
    <link href="//cdn.bootcss.com/animate.css/3.5.2/animate.min.css" rel="stylesheet" media="screen">
    <link href="//cdn.bootcss.com/spinkit/1.2.5/spinkit.min.css" rel="stylesheet" media="screen">
    <link href="//cdn.bootcss.com/Swiper/4.0.7/css/swiper.min.css" rel="stylesheet" media="screen">

</head>
<body>
<main id="app">
    <!--APP_LOADER-->
</main>

<!-- Dependencies -->
<script type="text/javascript" src="//cdn.bootcss.com/Swiper/4.0.7/js/swiper.min.js"></script>
<script src="<%= htmlWebpackPlugin.options.libs['wechat'] %>"></script>
<script src="<%= htmlWebpackPlugin.options.libs['react'] %>"></script>
<script src="<%= htmlWebpackPlugin.options.libs['react-dom'] %>"></script>

</body>
</html>
